# All lines that don't start with '#' must be valid passwords.
# Use only basic ASCII characters.
#
# You can use the following command to add a new password.
# (</dev/urandom tr -dc 'a-zA-Z0-9' | head -c 64; echo '') | tee -a passwords.txt
#
# Clients will use the first non-comment line as their password.
# Servers will accept all non-comment lines as valid passwords.
#
# Passwords must be the width of the following line.
################################################################
